USE [Website_Database]
GO
/****** Object:  User [LaptopUser]    Script Date: 1/11/2026 10:57:45 PM ******/
CREATE USER [LaptopUser] FOR LOGIN [LaptopUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [LaptopUser]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[Number] [int] NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[AddressType] [char](1) NOT NULL CONSTRAINT [DF_Addresses_AddressType]  DEFAULT ('S'),
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
	[CollaborationDate] [datetime] NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_Brands] UNIQUE NONCLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CartLaptops]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartLaptops](
	[CartID] [int] NOT NULL,
	[LaptopID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CartLaptops] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC,
	[LaptopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [ntext] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_Categories] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Laptops]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptops](
	[LaptopID] [int] IDENTITY(1,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ModelName] [nvarchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Processor] [nvarchar](50) NOT NULL,
	[RAM] [int] NOT NULL,
	[Storage] [int] NOT NULL,
	[GraphicsCard] [nvarchar](50) NOT NULL,
	[ScreenSize] [float] NOT NULL,
	[Description] [ntext] NULL,
 CONSTRAINT [PK_Laptops] PRIMARY KEY CLUSTERED 
(
	[LaptopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_Laptops] UNIQUE NONCLUSTERED 
(
	[ModelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderLaptops]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLaptops](
	[OrderID] [int] NOT NULL,
	[LaptopID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_OrderLaptops] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[LaptopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [float] NOT NULL,
	[ShippingAddressID] [int] NULL,
	[BillingAddressID] [int] NULL,
	[OrderStatus] [char](1) NOT NULL CONSTRAINT [DF_Orders_OrderStatus]  DEFAULT ('P'),
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentAmount] [float] NOT NULL,
	[PaymentMethod] [char](1) NOT NULL CONSTRAINT [DF_Payments_PaymentMethod]  DEFAULT ('C'),
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_Payments] UNIQUE NONCLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ShoppingCart] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_ShoppingCart] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](11) NULL,
	[UserType] [char](1) NOT NULL CONSTRAINT [DF_Users_UserType]  DEFAULT ('C'),
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_Users] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Users]
GO
ALTER TABLE [dbo].[CartLaptops]  WITH CHECK ADD  CONSTRAINT [FK_CartLaptops_Laptops] FOREIGN KEY([LaptopID])
REFERENCES [dbo].[Laptops] ([LaptopID])
GO
ALTER TABLE [dbo].[CartLaptops] CHECK CONSTRAINT [FK_CartLaptops_Laptops]
GO
ALTER TABLE [dbo].[CartLaptops]  WITH CHECK ADD  CONSTRAINT [FK_CartLaptops_ShoppingCart] FOREIGN KEY([CartID])
REFERENCES [dbo].[ShoppingCart] ([CartID])
GO
ALTER TABLE [dbo].[CartLaptops] CHECK CONSTRAINT [FK_CartLaptops_ShoppingCart]
GO
ALTER TABLE [dbo].[Laptops]  WITH CHECK ADD  CONSTRAINT [FK_Laptops_Brands] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
GO
ALTER TABLE [dbo].[Laptops] CHECK CONSTRAINT [FK_Laptops_Brands]
GO
ALTER TABLE [dbo].[Laptops]  WITH CHECK ADD  CONSTRAINT [FK_Laptops_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Laptops] CHECK CONSTRAINT [FK_Laptops_Categories]
GO
ALTER TABLE [dbo].[OrderLaptops]  WITH CHECK ADD  CONSTRAINT [FK_OrderLaptops_Laptops] FOREIGN KEY([LaptopID])
REFERENCES [dbo].[Laptops] ([LaptopID])
GO
ALTER TABLE [dbo].[OrderLaptops] CHECK CONSTRAINT [FK_OrderLaptops_Laptops]
GO
ALTER TABLE [dbo].[OrderLaptops]  WITH CHECK ADD  CONSTRAINT [FK_OrderLaptops_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderLaptops] CHECK CONSTRAINT [FK_OrderLaptops_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCart_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_ShoppingCart_Users]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [CK_Addresses] CHECK  (([AddressType]='S' OR [AddressType]='B'))
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [CK_Addresses]
GO
ALTER TABLE [dbo].[CartLaptops]  WITH CHECK ADD  CONSTRAINT [CK_CartLaptops] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[CartLaptops] CHECK CONSTRAINT [CK_CartLaptops]
GO
ALTER TABLE [dbo].[Laptops]  WITH CHECK ADD  CONSTRAINT [CK_Laptops] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Laptops] CHECK CONSTRAINT [CK_Laptops]
GO
ALTER TABLE [dbo].[Laptops]  WITH CHECK ADD  CONSTRAINT [CK_Laptops_1] CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Laptops] CHECK CONSTRAINT [CK_Laptops_1]
GO
ALTER TABLE [dbo].[OrderLaptops]  WITH CHECK ADD  CONSTRAINT [CK_OrderLaptops] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[OrderLaptops] CHECK CONSTRAINT [CK_OrderLaptops]
GO
ALTER TABLE [dbo].[OrderLaptops]  WITH CHECK ADD  CONSTRAINT [CK_OrderLaptops_1] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[OrderLaptops] CHECK CONSTRAINT [CK_OrderLaptops_1]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_1] CHECK  (([OrderStatus]='P' OR [OrderStatus]='S' OR [OrderStatus]='D'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_1]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments] CHECK  (([PaymentAmount]>=(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_1] CHECK  (([PaymentMethod]='C' OR [PaymentMethod]='P'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_1]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users] CHECK  (([UserType]='A' OR [UserType]='C'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users]
GO
/****** Object:  StoredProcedure [dbo].[rpt_AveragePriceByCategory]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_AveragePriceByCategory]
  @CategoryName NVARCHAR(200)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT C.CategoryName, AVG(L.Price) AS AverageLaptopPrice
  FROM Laptops L
  JOIN Categories C ON L.CategoryID = C.CategoryID
  WHERE C.CategoryName = @CategoryName
  GROUP BY C.CategoryName;
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_BrandRevenue]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[rpt_BrandRevenue]
  @StartDate  DATE,
  @EndDate    DATE,
  @MinRevenue DECIMAL(18,2)
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
      B.BrandName,
      SUM(OL.Quantity * OL.Price) AS Revenue
  FROM Brands        B
  JOIN Laptops       L  ON L.BrandID  = B.BrandID         -- JOIN #1
  JOIN OrderLaptops  OL ON OL.LaptopID = L.LaptopID       -- JOIN #2
  JOIN Orders        O  ON O.OrderID   = OL.OrderID       -- JOIN #3
  WHERE O.OrderDate >= @StartDate                          -- WHERE #1
    AND O.OrderDate <  DATEADD(DAY,1,@EndDate)
  GROUP BY B.BrandName                                    -- GROUP BY #1
  HAVING SUM(OL.Quantity * OL.Price) >= @MinRevenue;      -- HAVING #1
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_CategoriesWithHighStock_NotSold]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_CategoriesWithHighStock_NotSold]
  @MinPrice DECIMAL(18,2)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT C.CategoryName, COUNT(L.LaptopID) AS LaptopCount
  FROM Categories C
  JOIN Laptops L ON C.CategoryID = L.CategoryID
  WHERE L.Price >= @MinPrice
    AND NOT EXISTS (SELECT 1 FROM OrderLaptops OL WHERE OL.LaptopID = L.LaptopID)
  GROUP BY C.CategoryName
  ORDER BY LaptopCount DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_LaptopsByBrand]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_LaptopsByBrand]
  @BrandName NVARCHAR(200)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT L.ModelName, B.BrandName
  FROM Laptops L
  JOIN Brands B ON L.BrandID = B.BrandID
  WHERE B.BrandName = @BrandName;
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_LaptopsNotInAnyCartAbovePrice]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_LaptopsNotInAnyCartAbovePrice]
  @MinPrice DECIMAL(18,2)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT L.ModelName
  FROM Laptops L
  WHERE L.Price > @MinPrice
    AND NOT EXISTS (SELECT 1 FROM CartLaptops CL WHERE CL.LaptopID = L.LaptopID);
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_MonthlyCategoryRevenue]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. CREATE Monthly Revenue Trends
CREATE PROCEDURE [dbo].[rpt_MonthlyCategoryRevenue] @Year INT AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.CategoryName, MONTH(o.OrderDate) as SaleMonth,
           COUNT(DISTINCT o.OrderID) as OrdersCount,
           SUM(ol.Price * ol.Quantity) as TotalRevenue
    FROM Orders o
    JOIN OrderLaptops ol ON o.OrderID = ol.OrderID
    JOIN Laptops l ON ol.LaptopID = l.LaptopID
    JOIN Categories c ON l.CategoryID = c.CategoryID
    WHERE YEAR(o.OrderDate) = @Year
    GROUP BY c.CategoryName, MONTH(o.OrderDate)
    ORDER BY c.CategoryName, SaleMonth;
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_MostExpensiveLaptopByBrand]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_MostExpensiveLaptopByBrand]
  @BrandName NVARCHAR(200)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT TOP (1) L.ModelName, L.Price
  FROM Laptops L
  JOIN Brands B ON L.BrandID = B.BrandID
  WHERE B.BrandName = @BrandName
  ORDER BY L.Price DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_NoPaymentUsersSinceYear]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_NoPaymentUsersSinceYear]
  @Year INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT U.FirstName, U.LastName, U.Email
  FROM Users U
  WHERE U.UserID NOT IN (
      SELECT DISTINCT O.UserID
      FROM Orders O
      JOIN Payments P ON O.OrderID = P.OrderID
      WHERE YEAR(P.PaymentDate) >= @Year
  );
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_PopularBrands]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_PopularBrands]
  @MinCount INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT B.BrandName, COUNT(L.LaptopID) AS LaptopCount
  FROM Brands B
  JOIN Laptops L ON B.BrandID = L.BrandID   -- fixed join
  GROUP BY B.BrandName
  HAVING COUNT(L.LaptopID) >= @MinCount;
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_PopularCategories]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_PopularCategories]
  @MinCount INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT C.CategoryName, COUNT(L.LaptopID) AS LaptopCount
  FROM Categories C
  JOIN Laptops L ON C.CategoryID = L.CategoryID
  GROUP BY C.CategoryName
  HAVING COUNT(L.LaptopID) >= @MinCount;
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_RestockAdvice]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. CREATE Inventory Restock Advice
CREATE PROCEDURE [dbo].[rpt_RestockAdvice] @SafetyStockThreshold INT AS
BEGIN
    SET NOCOUNT ON;
    SELECT b.BrandName, l.ModelName, l.StockQuantity,
           ISNULL(SalesData.TotalSold, 0) as SoldLast30Days,
           CASE WHEN l.StockQuantity = 0 THEN 'Critical'
                WHEN l.StockQuantity <= @SafetyStockThreshold THEN 'Warning'
                ELSE 'OK' END as Status
    FROM Laptops l
    JOIN Brands b ON l.BrandID = b.BrandID
    LEFT JOIN (
        SELECT ol.LaptopID, SUM(ol.Quantity) as TotalSold
        FROM OrderLaptops ol
        JOIN Orders o ON ol.OrderID = o.OrderID
        WHERE o.OrderDate >= DATEADD(day, -30, GETDATE())
        GROUP BY ol.LaptopID
    ) SalesData ON l.LaptopID = SalesData.LaptopID
    WHERE l.StockQuantity <= @SafetyStockThreshold
    ORDER BY l.StockQuantity ASC;
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_TotalOrdersByUser]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_TotalOrdersByUser]
  @MinTotalAmount DECIMAL(18,2)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT U.FirstName, U.LastName,
         COUNT(O.OrderID)    AS OrderCount,
         SUM(O.TotalAmount)  AS TotalAmount
  FROM Users U
  JOIN Orders O ON U.UserID = O.UserID
  GROUP BY U.FirstName, U.LastName
  HAVING SUM(O.TotalAmount) >= @MinTotalAmount;
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_TotalStockByBrand]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_TotalStockByBrand]
  @BrandName NVARCHAR(200)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT B.BrandName,
         SUM(L.Price * L.StockQuantity) AS TotalStockValue
  FROM Laptops L
  JOIN Brands B ON L.BrandID = B.BrandID
  WHERE B.BrandName = @BrandName
  GROUP BY B.BrandName;
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_UnsoldInventoryRisk]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[rpt_UnsoldInventoryRisk]
    @MinUnits INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        C.CategoryName,
        B.BrandName,
        SUM(L.StockQuantity)                   AS StockUnits,
        SUM(L.StockQuantity * L.Price)         AS StockValue,
        AVG(L.Price)                           AS AvgPrice
    FROM Laptops L
    JOIN Brands        B  ON L.BrandID    = B.BrandID
    JOIN Categories    C  ON L.CategoryID = C.CategoryID
    LEFT JOIN OrderLaptops OL ON OL.LaptopID = L.LaptopID
    LEFT JOIN Orders       O  ON O.OrderID   = OL.OrderID
    LEFT JOIN CartLaptops  CL ON CL.LaptopID = L.LaptopID
    WHERE (O.OrderID IS NULL OR O.OrderDate < DATEADD(MONTH, -1, GETDATE()))
      AND CL.LaptopID IS NULL
    GROUP BY C.CategoryName, B.BrandName
    HAVING AVG(L.Price) > (SELECT AVG(Price) FROM Laptops)
       AND SUM(L.StockQuantity) >= @MinUnits
    ORDER BY StockValue DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_UsersWithHighSpending]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[rpt_UsersWithHighSpending]
  @MinAmount DECIMAL(18,2)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT U.FirstName, U.LastName, SUM(O.TotalAmount) AS TotalSpent
  FROM Users U
  JOIN Orders O ON U.UserID = O.UserID
  GROUP BY U.FirstName, U.LastName
  HAVING SUM(O.TotalAmount) >= @MinAmount
     AND SUM(O.TotalAmount) >= (SELECT AVG(TotalAmount) FROM Orders);
END;

GO
/****** Object:  StoredProcedure [dbo].[rpt_VipBrandAffinity]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CREATE PROCEDURE: VIP Customer Brand Affinity (High Complexity)
-- Logic:
-- 1. Aggregates sales per User per Brand.
-- 2. Uses Window Functions to calculate Total User Spend across all brands (without a separate subquery).
-- 3. Uses ROW_NUMBER to identify the #1 Brand for that user based on spend.
-- 4. Calculates the percentage of the user's total budget spent on their favorite brand.
CREATE PROCEDURE [dbo].[rpt_VipBrandAffinity] 
    @StartDate DATE, 
    @EndDate DATE, 
    @MinTotalSpend DECIMAL(14,2)
AS
BEGIN
    SET NOCOUNT ON;

    WITH RawSales AS (
        SELECT 
            u.UserID,
            u.FirstName + ' ' + u.LastName AS CustomerName,
            b.BrandName,
            SUM(ol.Price * ol.Quantity) AS BrandRevenue,
            COUNT(ol.LaptopID) AS ItemsBoughtOfBrand
        FROM Users u
        JOIN Orders o ON u.UserID = o.UserID
        JOIN OrderLaptops ol ON o.OrderID = ol.OrderID
        JOIN Laptops l ON ol.LaptopID = l.LaptopID
        JOIN Brands b ON l.BrandID = b.BrandID
        WHERE o.OrderDate >= @StartDate AND o.OrderDate <= @EndDate
        GROUP BY u.UserID, u.FirstName, u.LastName, b.BrandName
    ),
    EnrichedStats AS (
        SELECT 
            CustomerName,
            BrandName,
            BrandRevenue,
            ItemsBoughtOfBrand,
            -- Window Function 1: Get total spend per user across all rows for that user
            SUM(BrandRevenue) OVER (PARTITION BY UserID) AS TotalUserSpend,
            -- Window Function 2: Rank brands per user to find the favorite
            ROW_NUMBER() OVER (PARTITION BY UserID ORDER BY BrandRevenue DESC) AS BrandRank
        FROM RawSales
    )
    SELECT 
        CustomerName,
        TotalUserSpend,
        BrandName AS FavoriteBrand,
        BrandRevenue AS SpendOnFavBrand,
        ItemsBoughtOfBrand AS ItemsFromFavBrand,
        CAST((BrandRevenue / TotalUserSpend) * 100 AS DECIMAL(5,2)) AS LoyaltyPercentage
    FROM EnrichedStats
    WHERE BrandRank = 1 
      AND TotalUserSpend >= @MinTotalSpend
    ORDER BY TotalUserSpend DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_AddAddress]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddAddress]
    @UserID INT,
    @Street VARCHAR(100),
    @Number VARCHAR(20),
    @City VARCHAR(50),
    @PostalCode VARCHAR(20),
    @Country VARCHAR(50),
    @AddressType CHAR(1)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Addresses (UserID, Street, Number, City, PostalCode, Country, AddressType)
    VALUES (@UserID, @Street, @Number, @City, @PostalCode, @Country, @AddressType);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_AddCategory]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddCategory]
  @CategoryName NVARCHAR(200),
  @Description  NVARCHAR(MAX) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO Categories (CategoryName, Description)
  VALUES (@CategoryName, @Description);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_AddLaptop]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddLaptop]
  @ModelName     NVARCHAR(200),
  @Price         DECIMAL(18,2),
  @StockQuantity INT,
  @Processor     NVARCHAR(200),
  @RAM           INT,
  @Storage       INT,
  @GraphicsCard  NVARCHAR(200) = NULL,
  @ScreenSize    DECIMAL(5,2)  = NULL,
  @Description   NVARCHAR(MAX) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO Laptops (ModelName, Price, StockQuantity, Processor, RAM, Storage, GraphicsCard, ScreenSize, Description)
  VALUES (@ModelName, @Price, @StockQuantity, @Processor, @RAM, @Storage, @GraphicsCard, @ScreenSize, @Description);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_AddToCart]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. CREATE sp_AddToCart
CREATE PROCEDURE [dbo].[sp_AddToCart] @CartID INT, @LaptopID INT AS 
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM CartLaptops WHERE CartID = @CartID AND LaptopID = @LaptopID)
        UPDATE CartLaptops SET Quantity = Quantity + 1 WHERE CartID = @CartID AND LaptopID = @LaptopID;
    ELSE
        INSERT INTO CartLaptops (CartID, LaptopID, Quantity) VALUES (@CartID, @LaptopID, 1);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_AddUser]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddUser]
  @FirstName    NVARCHAR(100),
  @LastName     NVARCHAR(100),
  @Email        NVARCHAR(255),
  @Password     NVARCHAR(255),
  @PhoneNumber  NVARCHAR(50) = NULL,
  @UserType     CHAR(1)
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO Users (FirstName, LastName, Email, Password, PhoneNumber, UserType)
  VALUES (@FirstName, @LastName, @Email, @Password, @PhoneNumber, @UserType);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_AuthenticateUser]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AuthenticateUser]
    @Email NVARCHAR(100),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @UID INT;
    DECLARE @UType CHAR(1);
    DECLARE @CID INT;

    SELECT @UID = UserID, @UType = UserType 
    FROM Users 
    WHERE Email = @Email AND Password = @Password;

    IF @UID IS NOT NULL
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM ShoppingCart WHERE UserID = @UID)
        BEGIN
            INSERT INTO ShoppingCart (UserID, CreationDate)
            VALUES (@UID, GETDATE());
        END

        SELECT @CID = CartID 
        FROM ShoppingCart 
        WHERE UserID = @UID;

        SELECT @UID AS UserID, @UType AS UserType, @CID AS CartID;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_FilterLaptopsByCategory]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FilterLaptopsByCategory] 
    @CategoryName NVARCHAR(100) 
AS 
BEGIN 
    SET NOCOUNT ON;
    SELECT 
        L.LaptopID, 
        L.ModelName, 
        L.Price 
    FROM dbo.Laptops L
    INNER JOIN dbo.Categories C ON L.CategoryID = C.CategoryID
    WHERE C.CategoryName = @CategoryName; 
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAddressDetailsByStreet]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAddressDetailsByStreet]
    @Street VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT Street, Number, City, PostalCode, Country
    FROM Addresses
    WHERE Street = @Street;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetCartItems]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCartItems]
    @CartID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT L.ModelName, L.Price, CL.Quantity
    FROM CartLaptops CL
    JOIN Laptops L ON CL.LaptopID = L.LaptopID
    WHERE CL.CartID = @CartID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategories]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCategories] 
AS 
BEGIN 
    SET NOCOUNT ON;
    SELECT CategoryName FROM Categories; 
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetLaptops]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetLaptops] 
AS 
BEGIN 
    SET NOCOUNT ON;
    SELECT 
        LaptopID,
        ModelName, 
        Price 
    FROM Laptops; 
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserAddresses]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserAddresses]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT AddressID, Street, Number, City, PostalCode, Country, AddressType
    FROM Addresses
    WHERE UserID = @UserID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserAddressesForAccount]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserAddressesForAccount]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT Street, Number, City, PostalCode, Country, AddressType
    FROM Addresses
    WHERE UserID = @UserID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserDetails]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserDetails]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT FirstName, LastName, Email
    FROM Users
    WHERE UserID = @UserID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ModifyUser]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModifyUser]
  @Email        NVARCHAR(255),
  @FirstName    NVARCHAR(100) = NULL,
  @LastName     NVARCHAR(100) = NULL,
  @Password     NVARCHAR(255) = NULL,
  @PhoneNumber  NVARCHAR(50)  = NULL,
  @UserType     CHAR(1)       = NULL
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE Users
     SET FirstName   = ISNULL(@FirstName, FirstName),
         LastName    = ISNULL(@LastName,  LastName),
         Password    = ISNULL(@Password,  Password),
         PhoneNumber = ISNULL(@PhoneNumber, PhoneNumber),
         UserType    = ISNULL(@UserType,  UserType)
   WHERE Email = @Email;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUserWithCart]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterUserWithCart]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @Password NVARCHAR(255),
    @PhoneNumber NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        RAISERROR('Email already exists.', 16, 1);
        RETURN;
    END

    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Users (FirstName, LastName, Email, Password, PhoneNumber)
        VALUES (@FirstName, @LastName, @Email, @Password, @PhoneNumber);

        DECLARE @NewUserID INT = SCOPE_IDENTITY();

        INSERT INTO ShoppingCart (UserID, CreationDate)
        VALUES (@NewUserID, GETDATE());

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveCategory]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemoveCategory]
  @CategoryName NVARCHAR(200)
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM Categories WHERE CategoryName = @CategoryName;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveLaptopByModel]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemoveLaptopByModel]
  @ModelName NVARCHAR(200)
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM Laptops WHERE ModelName = @ModelName;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveUser]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemoveUser]
  @Email NVARCHAR(255)
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM Users WHERE Email = @Email;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_SearchLaptops]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SearchLaptops] 
    @SearchTerm NVARCHAR(100) 
AS 
BEGIN 
    SET NOCOUNT ON;
    SELECT 
        LaptopID,
        ModelName, 
        Price 
    FROM Laptops 
    WHERE ModelName LIKE '%' + @SearchTerm + '%';
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_SubmitOrder]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SubmitOrder] 
    @UserID INT, 
    @CartID INT, 
    @TotalAmount DECIMAL(14,2), 
    @ShipAddr INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Orders (UserID, OrderDate, TotalAmount, ShippingAddressID)
        VALUES (@UserID, SYSUTCDATETIME(), @TotalAmount, @ShipAddr);
        
        DECLARE @NewOrderID INT = SCOPE_IDENTITY();
        
        INSERT INTO OrderLaptops (OrderID, LaptopID, Quantity, Price)
        SELECT @NewOrderID, CL.LaptopID, CL.Quantity, L.Price
        FROM CartLaptops CL 
        INNER JOIN Laptops L ON CL.LaptopID = L.LaptopID
        WHERE CL.CartID = @CartID;
        
        INSERT INTO Payments (OrderID, PaymentDate, PaymentAmount, PaymentMethod)
        VALUES (@NewOrderID, SYSUTCDATETIME(), @TotalAmount, 'C');
        
        DELETE FROM CartLaptops WHERE CartID = @CartID;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 
            ROLLBACK TRANSACTION;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@Err, 16, 1);
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCategory]    Script Date: 1/11/2026 10:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCategory]
  @CategoryName   NVARCHAR(200),
  @NewDescription NVARCHAR(MAX)
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE Categories
     SET Description = @NewDescription
   WHERE CategoryName = @CategoryName;
END;

GO
